extends ../layouts/base

block defines
  - name = 'signup';
  - title = 'OpenMRS ID- Sign Up';
  - headline = 'Sign up for OpenMRS ID <small>Already have one? <a href="/login"> Sign in.</a></small>';
  - showSidebar = true;
  - sidebar = ['id-whatis'];

append head
  script(src='https://www.google.com/recaptcha/api.js')

block content
  div.panel
    form.validate#form-signup(autocomplete='off')

      div.row-item.form-group
        div.input-wrapper.col-md-5
          input.required#username(type='text',
                name=disguise('username', spinner),
                placeholder='Username',
                )
          label.error Required

        span.description
          | Only lowercase letters and numbers are allowed. (0-9, a-z).

      div.row-item.form-group
        div.col-md-5.no-padding
          div.input-wrapper.col-md-6.left
            input.required#fisrtName(type='text',
                  name=disguise('firstName', spinner),
                  placeholder='Given Name',
                  )
            label.error Required

          div.input-wrapper.col-md-6.right
            input.required#lastName(type='text',
                  name=disguise('lastName', spinner),
                  placeholder='Surname',
                  )
            label.error Required

      div.row-item.form-group
        div.input-wrapper.col-md-5
          input.required#email(type='text', name=disguise('primaryEmail', spinner),
                placeholder='Email Address',
                )
          label.error Required

      //- conuntry, honeypot field
      div.row-item.form-group
        input.col-md-5#country(type='text', name=disguise('country', spinner)
              placeholder='Country')


      div.row-item.form-group
        div.input-wrapper.col-md-5

          input.required#password(type='password', name=disguise('password', spinner),
                placeholder='Password')
          label.error Required
        span.description
          | Passwords must be at least 8 characters long.

      div.row-item.form-group
        div.g-recaptcha#recaptcha(data-sitekey=recaptchaPublic)

      input(type='hidden', name='spinner', value=spinner)
      input(type='hidden', name=disguise('timestamp', spinner),
            value=timestamp)

      div.row-item.form-group
        div.input-wrapper.col-md-3
          input.btn.btn-success#submit(type='submit', value='Join the Community » ')
          label.error Please complete the captcha!

  div#err.modal.fade(tabindex=-1 role='dialog' aria-labelledby="mySmallModalLabel")
    div.modal-dialog.modal-md
      div.modal-content
        div.modal-header
            h3.modal-title An Error has occurred
        div.modal-body
            div#errText
        div.modal-footer
            button.btn.btn-success(type="button" data-dismiss="modal") Close
