<html>
<head>
<style>body{font-family: Helvetica, sans-serif}</style>
</head>
<body>
	<div id="main">
	<a href="http://id.openmrs.org"><img src="http://id.openmrs.org/resource/images/logo.png" alt="OpenMRS ID"></a>
	<h2>Password reset for <%= displayName %> (<%= username %>)</h2>
	<p>The <a href="http://id.openmrs.org">OpenMRS ID Dashboard</a> received a request to have your OpenMRS ID password reset. To continue with this action, go to the following page:</p>
	<p id="reset-link"><a href="http://id.openmrs.org/reset/<%= resetId %>">http://id.openmrs.org/reset/<%= resetId %></a></p>
	<p>This reset email was sent to the following addresses:
	<ul>
		<li><%= email %> (primary)</li>
		<% for (var i=0; i<secondaryMail.length; i++) { %>
		<li><%= secondaryMail[i] %> (secondary)</li>
		<% } %>
	</ul></p>
	<p>If you didn't request a password reset, don't worry. This password reset link will deactivate two hours from now.</p>
	<p>Thanks!</p>
	</div>
</body>
</html>