<html>
<head>
<style>body{font-family: Helvetica, sans-serif}</style>
</head>
<body>
	<div id="main">
	<a href="<%= siteURL %>"><img src="<%= url.resolve(siteURL,'resource/images/logo.png') %>" alt="OpenMRS ID"></a>
	<h2>Password reset for <%= displayName %> (<%= username %>)</h2>
	<p>The <a href="<%= siteURL %>">OpenMRS ID Dashboard</a> received a request to have your OpenMRS ID password reset. To continue with this action, go to the following page:</p>
	<p id="reset-link"><a href="<%= url.resolve(siteURL, 'reset/'+resetId) %>"><%= url.resolve(siteURL, 'reset/'+resetId) %></a></p>
	<p>This reset email was sent to the following addresses:
	<ul>
		<li><%= email %> (primary)</li>
		<% for (var i=0; i<secondaryMail.length; i++) { %>
		<li><%= secondaryMail[i] %> (secondary)</li>
		<% } %>
	</ul></p>
	<p>If you didn't request a password reset, don't worry. This password reset link will deactivate at <%= expireDate %>.</p>
	<p>Thanks!</p>
	</div>
</body>
</html>