<% title = 'OpenMRS ID - Global Nav Admin' %>
<% headline = 'Global Navigation Admin' %>

<p>From here, you can customize the global navigation bar. <strong>These changes will instantly propagate wherever the navigation bar is embedded.</strong></p>

<p>To embed the navigation bar, include this code anywhere in the <code>&lt;head&gt;</code> or <code>&lt;body&gt;</code>:</p>

<p><code>&lt;script type="text/javascript" id="globalnav-script" src="<%= url.resolve(conf.site.url, '/globalnav/app-optimized.js') %>"&gt;&lt;/script&gt;</code></p>

<form action="/admin/globalnav/links" method="post">
	<h2>Links</h2>
	<%- partial('param-table', {
		tableName: 'links',
		columns: [
			{type: 'name', value: 'Name', name: 'name'},
			{type: 'value', value: 'URL', name: 'url'}
			],
		data: links
	}) %>
	<input type="submit" value="Save">
</form>

<form action="/admin/globalnav/prefs" method="post">
	<h2>Preferences</h2>
	<!--<%- partial('param-table', {
		tableName: 'preferences',
		columns: [
			{type: 'name', value: 'Name', name: 'name', editable: false},
			{type: 'value', value: 'Value', name: 'value'}
		],
		data: prefs,
		canAddRows: false
	}) %>-->
	<% for (i in prefs) { %>
		<div class="field">
		<label><%=prefs[i].name%></label>
		<% if (prefs[i].type == 'textarea') { %>
		<textarea name="<%=prefs[i].key%>" placeholder="<%=prefs[i].placeholder%>"><%=(prefs[i].value != undefined) ? prefs[i].value : '' %></textarea>
		<% } else { %>
		<input type="<%=prefs[i].type%>" name="<%=prefs[i].key%>" placeholder="<%=prefs[i].placeholder%>" value="<%=prefs[i].value%>">
		<% } %>
		<span class="description"><%=prefs[i].description%></span>
		</div>
		
	<% } %>
	<input type="submit" value="Save">
</form>