<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/resource/style.css">
	<link rel="stylesheet" href="/resource/font/font-awesome.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="/resource/omrsid.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-16695719-5']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	
	<%- headAppend %>
	
	<script id="globalnav-script" src="/globalnav/js/app-optimized.js"></script>
	
	<!--[if lte IE 7]>
	<link rel="stylesheet" href="/resource/font/font-awesome-ie7.css">
	<![endif]-->
</head>



<body>
<noscript><h3>JavaScript is required to properly use OpenMRS ID.</h3></noscript>
<div id="header">	
	<div class="container">
		<a href="/"><img id="logo" src="/resource/images/logo.png" alt="OpenMRS Community"></a>
		
		<ul id="services">
			<li class="teal"><a href="http://wiki.openmrs.org"><span>Wiki</span></a></li>
			<li class="yellow"><a href="http://tickets.openmrs.org"><span>Tickets</span></a></li>
			<li class="blue"><a href="http://source.openmrs.org"><span>Source</span></a></li>
			<li class="red" id="moreContainer">
				<span>More...</span>
				<ul id="more">
					<a href="http://answers.openmrs.org"><li>Answers</li></a>
					<a href="http://ci.openmrs.org"><li>CI Testing</li></a>
					<a href="http://modules.openmrs.org"><li>Modules</li></a>
					<a href="http://go.openmrs.org/mailinglists"><li>Groups</li></a>
					<a href="http://svn.openmrs.org"><li>SVN</li></a>
				</ul>
			</li>
		</ul>
		
		
	<div id="login-menu">	
		<% if (!connected) { %>
			<a href="/login" class="popover-trigger" data-popid="login">Log In</a>
			<form action="/login" method="post" class="popover" data-popid="login">
				<input class="use-placeholder" type="text" placeholder="OpenMRS ID" name="loginusername">
				<input class="use-placeholder" type="password" placeholder="Password" name="loginpassword">
				<input type="submit" value="Log In &#187;">
					<span class="failtext">Authentication failed.</span>
					<span><a href="/reset">Password Recovery &#187;</a></span>
			</form>
			<div class="popover-direction" data-popid="login"></div>
		<% } %>
		
		<% if (connected) { %>
			<a href="#" class="popover-trigger" data-popid="login"><%= user[conf.user.displayname] %></a>
			<ul class="popover" data-popid="login">
				<a href="/disconnect"><li>Log Out</li></a>
			</ul>
			<div class="popover-direction" data-popid="login"></div>
		<% } %>
	</div>
		
		
		
		<div class="clear"></div>
	</div>
</div>



<ul id="user-nav">
	<% var list = navLinks; for (var i = 0; i < list.length; i++) { %>	
		<% var same = (name == list[i].viewName) ? true : false %>
		<a<% if (same) { %> class="active"<% } %> href="<%= (same) ? "#" : list[i].url %>">
			<li><% if (list[i].icon) { %><i class="<%= list[i].icon %>"></i><% } %><%= list[i].name %></li>
		</a>
	<% } %>
</ul>



<div id="headline" <% if (showHeadlineAvatar) { %>class="with-avatar"<% } %>>
	<h1><%- headline %>
	<% if (connected && showHeadlineAvatar) { %>
	<img src="https://wiki.openmrs.org/rest/cas/1.0/avatar/server/<%= mailHash %>?s=51" alt="<%= user[conf.user.displayname] %>">
	<% } %>
	</h1>
</div>



<% if (flash) { for (type in flash) { %>
<% flash[type].forEach(function(msg){ %>
	<div class="flash <%= type %>">
		<span><%- msg %></span>
	</div>
<% }); } } %>



<div id="content" class="container">
	<div id="main"<% if (showSidebar == false) { %> class="no-sidebar"<% } %>>
	
	<%- body %>
	</div>
	
	<% if (showSidebar == true) { %>
	<div id="sidebar">
		<%- partial('sidebar', sidebar.concat(defaultSidebar)) %>
		<div id="about"><%- aboutHTML %></div>
	</div>
	<% } %>
	
</div>


<div class="clear"></div>
<%- bodyAppend %>

</body>
</html>
<% clearErrors() %>
