<link rel="stylesheet" type="text/css" media="all"
		href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/ui-darkness/jquery-ui.css"/>

<style type="text/css">

	div#params-container {
		position: relative;
		display: inline-block;
		padding: 0;
		margin: 0;
		font-family: sans-serif;
	}

	table#params {
		font-size: 12px;
		border-collapse: collapse;
	}
	
	table#params th, table#params td {
		padding: 5px 8px;
		/* border: 1px solid #48B3FA; */
	}

	table#params th.small {
		width: 148px;
	}

	table#params th.medium {
		width: 271px;
	}

	table#params input.name {
		width: 142px;
		/*
border: none;
		background-color: transparent;
*/
	}

	table#params input.value {
		width: 265px;
		/*
border: none;
		background-color: transparent;
*/
	}

	ul#param-control {
		position: absolute;
		margin: 0;
		padding: 0;
		z-index: 20;
		right: -48px;
	}

	ul#param-control li {
		cursor: pointer;
		float: left;
		list-style: none outside none;
		margin: 1px;
		padding: 2px;
	}
</style>

<script type="text/javascript" 
		src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js">
	</script>

	<script type="text/javascript">
	$(function() {
		// mouseover param-control
		$('#param-control')
		.hide()
		.mouseenter(function() {
			$(this).show();
		})
		.find('li')
		.mouseenter(function() {
			$(this).addClass('ui-state-hover');
		})
		.mouseleave(function() {
			$(this).removeClass('ui-state-hover');
		});

		var paramRow = function(){
			return '<tr><% for (var j = 0; j < columns.length; j++) { %><td>'
				+'<input type="text" class="<%=columns[j].type%>" name="'+($('tbody tr').length-1)+'-<%=columns[j].name%>"></td><% } %></tr>';
			};

		// initialize table
		$('table#params')
		//.append('<tr><th class="name">Name</th><th class="value">Value</th></tr>')
		.append(paramRow());

		// display/hide border
		$('#params')
		.delegate('input', 'focus', function() {
			//$(this).css({border: '1px solid #AAAAAA'});
			$('#param-control').hide();
		})
		.delegate('input', 'blur', function() {
			//$(this).css({border: 'none'});
		})
		.delegate('tr:gt(0)', 'mouseenter', function() {
			var theRow = $(this),
			    position = theRow.position();
			$('#param-control')
			.css({
				top: position.top + 9 + 'px',
				//left: position.left + 413 + 'px'
			})
			.show()
			.find('.add-param span')
			.unbind('click')
			.click(function() {
				$(paramRow())
				.insertAfter('tr:last-child')
				.find('input.name')
				.focus();
			})
			.end()
			.find('.delete-param span')
			.unbind('click')
			.click(function() {
				if (theRow.siblings().length > 1) {
					theRow.remove();
					$('#param-control').hide();
				}
			});
		});
	});
	</script>

<div id="params-container">
	<table id="params">
		<tr>
			<% for (var i = 0; i < columns.length; i++) { %>
			<th class="<%=columns[i].type%>"><%=columns[i].value%></th>
			<% } %>
		</tr>
		
		<% for (var i = 0; i < data.length; i++) { %>
		<tr>
			<% for (var j = 0; j < columns.length; j++) { %>
			<td>
				<input type="text" class="<%=columns[j].type%>" name="<%=i%>-<%=columns[j].name%>" value="<%=data[i][columns[j].name]%>">
			</td><% } %>
		</tr>
		<% } %>
	</table>
	
	<ul id="param-control">
		<li class="ui-state-default ui-corner-all add-param" title="Add">
			<span class="ui-icon ui-icon-circle-plus">Add</span>
		</li>
		<li class="ui-state-default ui-corner-all delete-param" title="Delete">
			<span class="ui-icon ui-icon-circle-close">Delete</span>
		</li>
	</ul>
</div>