<% // set defaults
if (typeof canAddRows == 'undefined') var canAddRows = true;
if (typeof tableName == 'undefined') var tableName = 'table';
%>

<script type="text/javascript">
$(function() {
	var paramRow = function(){
		return '<tr><% for (var j = 0; j < columns.length; j++) { %><td>'
			+'<input type="text" class="<%=columns[j].type%>" placeholder="<%=columns[j].value%>" name="'+($('#params tbody tr').length-1)+'-<%=columns[j].name%>"></td><% } %></tr>';
		};		
		
	checkEmptyRows = function() {
		var theRow = $(this).parents('tbody').children('tr:last-child'),
			theTable = theRow.parents('table'),
			hasVal = false;
		
		if ($(theTable).hasClass('addrow-disabled')) {
			return;
		}
		else {
			
			theRow.find('input, textarea').each(function(){ // loop through each field in last row
				if ($(this).val()) hasVal = true; // if a field has a value, set to true
			});
			if (hasVal) { // insert another row!
				$(paramRow()).insertAfter('table#params tr:last-child');
			}
		}
	}

	// handle adding new rows
	$('#params').delegate('input, textarea', 'keyup', checkEmptyRows);
	
	// add a blank row
	if ($('table#params input:first').length > 0) {
		checkEmptyRows.call($('table#params input:first')); // if some links already exist
	}
	else {
		$(paramRow()).appendTo('table#params'); // if no links exist yet
	}

});
</script>

<div id="params-container">
	<table id="params" class="addrow-<%= (canAddRows) ? 'enabled' : 'disabled' %>">
		<tr>
			<% for (var i = 0; i < columns.length; i++) { %>
			<th class="<%=columns[i].type%>"><%=columns[i].value%></th>
			<% } %>
		</tr>
		
		<% for (var i = 0; i < data.length; i++) { %>
		<tr>
			<% for (var j = 0; j < columns.length; j++) { 
				// first, set default values
				if (typeof columns[j].editable == 'undefined') columns[j].editable = true;
			%>
			<td>
				<%if (columns[j].editable) { %>
					<input type="text" class="<%=columns[j].type%>" placeholder="<%=columns[j].value%>" name="<%=i%>-<%=columns[j].name%>" value="<%=data[i][columns[j].name]%>">
				<% } else { %>
					<input type="hidden" class="<%=columns[j].type%>" placeholder="<%=columns[j].value%>" name="<%=i%>-<%=columns[j].name%>" value="<%=data[i][columns[j].name]%>"><%=data[i][columns[j].name]%>
				<% } %>
			</td><% } %>
		</tr>
		<% } %>
	</table>
	<% if (canAddRows) { %><span class="labeltext hint" style="float: right">Rows will be added automatically.</span><% } %>
</div>