.panel
  h1 #{user.username} <small>username</small>

  form.validate(action='/profile', method='post')
    div.form-group
      label Name
      .row-item
        .col-md-6.input-wrapper.left
          input.required#firstName(type='text', name='firstName',
            placeholder='Given Name', value=user.firstName)
          label.error Required

        .col-md-6.input-wrapper.right
          input.required#lastName(type='text', name='lastName',
            placeholder='Surname', value=user.lastName)
          label.error Required

        span.description
          | Your name identifies you across the OpenMRS Community.

    .row-item
      input.btn.btn-success(type='submit', value='Update Profile »')


  hr

  h2 <a href="#" id="editPasswordToggle">Need to change your password?</a>
  include edit-password
