//- variables:
//- siteURL
//- imgURL
//- verifyURL
//- username
//- diplayName
//- expireDate
extends ../layouts/email

block content
  <h2>Password reset for #{displayName} (#{username})</h2>

  <p>The <a href="#{siteURL}">OpenMRS ID Dashboard</a> received a request to have your OpenMRS ID password reset. To continue with this action, go to the following page:</p>
  <p id="reset-link"><a href="#{verifyURL}">#{verifyURL}</a></p>
  p This reset email was sent to the following addresses:
    ul
      each mail in locals.allEmails
        li mail
  <p>If you didn't request a password reset, don't worry. This password reset link will deactivate at #{expireDate}.</p>
  <p>Thanks!</p>
  <p>OpenMRS Community Infrastructure Team</p>
