//- variables:
//- siteURL
//- imgURL
//- verifyURL
//- username
//- displayName
//- expireDate
extends ../layouts/email.pug

block content
  h2 Password reset for #{displayName} (#{username})

  p The <a href="#{siteURL}">OpenMRS ID Dashboard</a> received a request to have your OpenMRS ID password reset. To continue with this action, go to the following page:
  p#reset-link <a href="#{verifyURL}">#{verifyURL}</a>
  p This reset email was sent to the following addresses:
    ul
      each mail in allEmails
        li= mail
  p If you didn't request a password reset, don't worry. This password reset link will deactivate soon.
  p Thanks!
  p OpenMRS Community Infrastructure Team
