extends ../../../../templates/views/admin.pug
include ./param-table.pug

block defines
  - title = 'OpenMRS ID - Global Nav Admin';
  - headline = 'Global Navigation Admin';
  - showSidebar = true;
  - sidebar = [];

block content
  p From here, you can customize the global navigation bar. <strong>These changes will instantly propagate wherever the navigation bar is embedded.</strong>
  p

  p To embed the navigation bar, include this code anywhere in the <code>&lt;head&gt;</code> or <code>&lt;body&gt;</code>:

  p <pre>&lt;script type="text/javascript" id="globalnav-script" src="#{scriptURL}"&gt;&lt;/script&gt;</pre>

  form(action='/admin/globalnav/links', method='post')
    h2 Links
    +param-table({
      tableName: 'links',
      columns: [
        {type: 'name', value: 'Name', name: 'name', displayType: 'text'},
        {type: 'value', value: 'URL', name: 'url', displayType: 'text'},
      ],
      data: links
    })
    input.btn.btn-success(type='submit', value='Save')

  form(action='/admin/globalnav/prefs', method='post').form-horizontal
    h2 Preferences
    each pref in prefs
      div.form-group
        if ('textarea' === pref.type)
          label= pref.name
          textarea(name= pref.key, placeholder= pref.placeholder).form-control
                = pref.value
        else
          label= pref.name
          input(type= pref.type, name= pref.key, placeholder= pref.placeholder,
            value= pref.value || '').form-control
        span.description= pref.description
    input.btn.btn-success(type='submit', value='Save')
