<% name = 'signup' %>
<% title = 'OpenMRS ID - Sign Up' %>
<% headline = '' %>
<% sidebar = ['sidebar/id-whatis', 'sidebar/forgotpassword'] %>

<% headAppend += '<script src="/signup/resource/md5.js"></script>\n' %>
<% headAppend += '<script src="/signup/resource/signup-public.js"></script>\n' %>
<% headAppend += '<script type="text/javascript">var SPINNER="'+spinner+'";</script>\n' %>
<h1 id="sign-up-header">Sign up for your OpenMRS ID</h1>
<p id="sub-sign-up">Already have an one? <a href="/login">Sign in.</a></p>
<div class="well well-lg" style="margin-top: 20px">
    <form action="/signup" method="post" autocomplete="off">

      <!--Username-->
      <div class="field<% if (fail.username) { %> fail<% } %>">
        <input type="text" name="<%=disguise('username', spinner)%>"
          placeholder="Username"
          <% if (values.username) { %>value="<%= values.username %>"
          <% } else { %>autofocus<% } %>>

        <span class="description">
          <span class="failtext"><% if (failReason.username) { %>
            <%= failReason.username %>
            <% } else { %>Please enter a valid username.<% } %>
          </span>
          Your username can only contain letters and numbers (0-9, A-Z, a-z).
        </span>

      </div>

      <!--Name-->
      <div class="field two-up<% if (fail.firstName || fail.lastName ) { %> fail<% } %>">
        <input type="text" name="<%=disguise('firstName', spinner)%>"
          placeholder="Given Name"<% if (values.firstName) { %>
          value="<%= values.firstName %>"<% } else if (values.username) { %>
          autofocus<% } %>>

        <input type="text" name="<%=disguise('lastName', spinner)%>" placeholder="Surname"
          <% if (values.lastName) { %>value="<%= values.lastName %>"
          <% } else if (values.username && values.firstName) { %>
          autofocus<% } %>>

          <span class="description failtext">
              <!--must be differest spans or else is not highlighted red when form failed-->
              Both a given name and surname are required.
          </span>
      </div>

      <!--Email-->
      <div class="field<% if (fail.primaryEmail) { %> fail<% } %>">
        <input type="text" name="<%=disguise('primaryEmail', spinner)%>"
          placeholder="Email Address"
          <% if (values.primaryEmail) { %>value="<%= values.primaryEmail %>"
          <% } else if (values.username && values.firstName && values.lastName) { %>
          autofocus<% } %>>

        <span class="description failtext">
              <% if (failReason.primaryEmail) { %><%= failReason.primaryEmail %>
              <% } else { %>Please enter a valid email address.<% } %>
        </span>
      </div>

      <!--Country-->
      <div class="field">
        <input type="text" name="<%=disguise('country', spinner)%>"
          placeholder="Country">

          <span class="description failtext">Please enter a country.</span>
      </div>

      <!--Password-->
      <div class="field<% if (fail.password) { %> fail<% } %>">

        <input type="password" name="<%=disguise('password', spinner)%>"
          placeholder="Password"
          <% if (values.username && values.firstName && values.lastName && values.primaryEmail) { %>
          autofocus<% } %>>

        <span class="description">
          <span class="failtext">
            <% if (failReason.password) { %><%= failReason.password %>
            <% } else { %>Please enter a valid password.<% } %>
          </span>
          Passwords must be at least 8 characters long.
        </span>
      </div>

      <!-- Maybe Google's new NoRecaptcha?-->
      <div class="field<% if (fail.recaptcha_response_field) { %> fail<% } %>" id="recaptcha_widget">
        <input type="text" id="recaptcha_response_field"
          name="<%=disguise('recaptcha_response_field', spinner)%>"
          placeholder="Are you human?">

        <span class="description">
          <span class="failtext">
            <% if (failReason.recaptcha_response_field) { %><%= failReason.recaptcha_response_field %>
            <% } else { %>Incorrect, please try again.<% } %>
          </span>

          <span class="recaptcha_only_if_image">Enter the words below:</span>
          <span class="recaptcha_only_if_audio">Enter the numbers you hear:</span>
          <div id="captcha-options">(
            <a href="javascript:Recaptcha.reload()">new captcha</a>
            <a href="javascript:Recaptcha.switch_type('audio')"
              class="recaptcha_only_if_image">switch to audio captcha</a>
            <a href="javascript:Recaptcha.switch_type('image')"
              class="recaptcha_only_if_audio">switch to image captcha</a>
            <a href="javascript:Recaptcha.showhelp()">help</a>
          )</div>
          <div id="recaptcha_image"></div>
          <span id="captcha-credit">Thanks,
            <a href="http://recaptcha.net/" target="_blank">reCAPTCHA!</a>
          </span>
        </span>
      </div>

      <input type="hidden" name="spinner" value="<%=spinner%>">
      <input type="hidden" name="<%=disguise('timestamp', spinner)%>"
        value="<%=timestamp%>">

      <div class="field">
        <input type="submit" class="btn btn-success" name="<%=disguise('submit',spinner)%>" class="icon-ok" value="Join the Community"
          <% if (renderLayout == false) { %> formtarget="_blank"<% } %>>
      </div>
    </form>
  </div>
</div>