extends ../../../../views-new/layouts/base

block defines
  - name = 'signup';
  - title = 'OpenMRS ID- Sign Up';
  - headline = 'Get an OpenMRS ID';
  - showSidebar = true;
  - sidebar = ['id-whatis', 'forgot-password'];
  - fail = fail || {};
  - failReason = failReason || {};
  - values = values || {};

block headAppend
  script(src='/signup/resource/signup-public.js')
  script(type='text/javascript')= 'var SPINNER = ' + spinner + ';'

  script(src='https://www.google.com/recaptcha/api.js')
  script(src='/bower_components/cryptojslib/rollups/md5.js')

block content
  form(action='/signup', method='post', autocomplete='off')
    <p> Already have an ID? <a href='/login'>Log in now</a> to access your account settings. </p>

    div.field(class=(fail.username?'fail':undefined))
      label Username
      input(type='text', name=disguise('username', spinner),
            placeholder='Username',
            value=(values.username || undefined)
            )

      span.description
        span.failtext
          if (failReason.username)
            = failReason.username
          else
            | Please enter a valid username.
        | Your username can only contain letters and numbers (0-9, A-Z, a-z).

    div.field.two-up(class={fail: fail.firstName || fail.lastName})
      label Name
      input(type='text', name=disguise('firstName', spinner),
            placeholder='Given Name',
            value=(values.firstName || undefined)
            )

      input(type='text', name=disguise('lastName', spinner),
            placeholder='Surname',
            value=(values.lastName || undefined)
            )

      span.description
        span.failtext Both a given name and surname are required.
        | Your name identifies you across the OpenMRS Community.

    div.field(class={fail: fail.primaryEmail})
      label Email
      input(type='text', name=disguise('primaryEmail', spinner),
            placeholder='Email Address',
            value=(values.primaryEmail || undefined)
            )

      span.description
        span.failtext
          if (failReason.primaryEmail)
            = failReason.primaryEmail
          else
            | Please enter a valid email address.<% } %>
        | We'll send any notifications to this address. You'll always be able
        to control what mail you receive.

    //- conuntry, honeypot field
    div.field
      label Country
      input(type='text', name=disguise('country', spinner)
            placeholder='Country')

      span.description
        span.failtext Please enter a country.
        | Help us learn where our community is from by providing your country.

    div.field(class={fail: fail.password})
      label Password

      input(type='password', name=disguise('password', spinner),
            placeholder='Password')
      span.description
        span.failtext
          if (failReason.password)
            | failReason.password
          else
            | Please enter a valid password.
        | Passwords must be at least 8 characters long.

    div.g-recaptcha(data-sitekey=recaptchaPublic)

    input(type='hidden', name='spinner', value=spinner)
    input(type='hidden', name=disguise('timestamp', spinner),
          value=timestamp)

    div.field
      input.btn.btn-success.icon-ok(type='submit', value='Join the Community &#187;')
