//- variables:
//- siteURL
//- imgURL
//- username
//- dispalyName

html
  head
    style.
      body{font-family: Helvetica, sans-serif}

  body
    div#main
      a(href=siteURL) 
        img(src=imgURL, alt='OpenMRS ID')
      h2 Your OpenMRS ID #{username} is ready to use!
    

      p #{displayName},

      <p>Thanks for signing up for an OpenMRS ID, your key to accessing our online tools and services.</p>

      <p>Your OpenMRS ID is fully configured, but you may want to continue by creating a personal space on the OpenMRS Wiki, so we can learn more about you and your interests. Go to <a href="http://wiki.openmrs.org/spaces/createpersonalspace.action">http://wiki.openmrs.org/spaces/createpersonalspace.action</a> to create a personal space.</p>

      <p>As a reminder, you can use your OpenMRS ID on the following sites:</p>

      <ul>
      <li>JIRA (issue tracker): <a href="http://tickets.openmrs.org/">http://tickets.openmrs.org/</a></li>
      <li>Confluence (Wiki documentation): <a href="http://wiki.openmrs.org/">http://wiki.openmrs.org/</a></li>
      <li>Fisheye (source code): <a href="http://source.openmrs.org/">http://source.openmrs.org/</a></li>
      <li>Answers (Q&A): <a href="http://answers.openmrs.org">http://answers.openmrs.org</a></li>
      </ul>

      <p>To make changes to your OpenMRS ID, log in to the ID Dashboard at <a href="#{siteURL}">#{siteURL}</a>.</p>

      <p>In case of problems logging in or signing up, please open a help desk ticket at <a href="http://go.openmrs.org/helpdesk">http://go.openmrs.org/helpdesk</a> &mdash; remember to include your contact information so we can assist you.</p>

      <p>Thanks and welcome!</p>
      <p>OpenMRS Community Infrastructure Team</p>
