<% name = 'edit-profile' %>
<% title = 'OpenMRS ID - Your Profile' %>
<% headline = user[conf.user.displayname]+"'s Profile" %>
<% sidebar = ['sidebar/editprofile-avatar'] %>

<form action="/profile" method="post">

    <div class="field noedit">
        <label>Username</label>
        <p><%= user[conf.user.username] %></p>
    </div>

    <div class="field two-up<% if (fail.firstName || fail.lastName ) {
        %> fail<% } %>">
        <label>Name</label>
        <input type="text" name="firstName" placeholder="Given Name" value="<%= (failed) ? values.firstName : user.firstName %>">
        <input type="text" name="lastName" placeholder="Surname" value="<%= (failed) ? values.lastName : user.lastName %>">
        <span class="description">
            <span class="failtext">Both a first and last name are required.</span>
            Your name identifies you across the OpenMRS Community.
        </span>
    </div>

    <div class="field">
        <input class="btn btn-success" type="submit" value="Update Profile &#187;">
    </div>

</form>

<h4> Emails </h4>
<%
var length = emails.length;
for (var i = 0; i <= length; i++) {
%>
<div class="field">
    <% if (i===length) {%>
    <form action="/profile-email/add" method="post">
        <br>
        <br>
        <input type="text" name="newEmail" value="Add another...">
        <input class="btn btn-success" type="submit" value="Add &#187;">
    </form>
    <% } else {%>
    <form action="profile-email/delete" method="post">
        <br>
        <br>
        <input type="text" name="email" value=<%= emails[i].email%> readonly>
        <input class="btn btn-success" type="submit" value="delete &#187;">
    </form>
        <% if (emails[i].primary) { %>
            primary
        <% } %>
        <% if (emails[i].notVerified) { %>
                <a href="/profile-email/resend/<%= emails[i].actionId %>">Resend</a>
        <% } %>
    <% } %>
</div>
<% } %>
